/* CSS declarations go here */

.body {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;

}
.friend.selected {
    background-color: lightblue;
    box-shadow: 2px 2px 8px #CCC;
}

.details .name,
.none,
.friend {
    padding: 8px;
    font-weight: 200;
    font-size: 1.75em;

}


.details {
    border-top: 1px dotted #CCC;
    padding-top: 20px;
    margin-top: 15px;
}

footer {
    margin-top: 50px;
    width: 1000%;
    background-color: #666;
    padding: 50px;
    bottom: 0px;
    color: white;

    a {
        color: #CCC;
    }
}
