@import "/packages/bootstrap3-less/bootstrap.lessimport";
/* CSS declarations go here */
/* @import "bootstrap.less"; */

@brandMain: #FF9646;
@brandSecondary: #38ACB5;
@brandLink: #FF3A6A;
@brandLinkVisited: #B8B9C4;
@brandTertiary: #B1C953;
@brand-primary: @brandLink;

.body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;

}

.backToTop {
    cursor: pointer;
    color: @gray-light;
    font-size: 16pt;
}

#login-buttons {
    padding-top: 12px;
}

// .anonymousIntro {
//     padding-bottom: 80px;

//     #login-buttons {
//         padding-top: 15px;
//         padding-bottom: 5px;

//         transform: scale(2);
//         -ms-transform: scale(2); /* IE 9 */
//         -webkit-transform: scale(2); /* Safari and Chrome */

//          -moz-transform-origin: 0 0;
//         -webkit-transform-origin: 0 0;
//         -o-transform-origin: 0 0;
//         -ms-transform-origin: 0 0;
//         transform-origin: 0 0;
//     }

//     .logincta {
//         font-size: 2em;
//         font-weight: 200;
//         padding-top: 40px;
//     }
// }

.appTitle {
    display: inline-block;
    font-size: 40pt;
    color: @brandMain;
    letter-spacing: -4px;
    margin-bottom: 20px;
    .sec {
        color: @brandSecondary;
    }

    a:hover {
        text-decoration: none;
        .sec {
            color: darken(@brandSecondary, 5%);
        }
    }
    i {
        margin-right: -10px;
    }

    .title {
        display: inline-block;
        padding-bottom: 9px;
        vertical-align: middle;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
        font-size: 72pt;
        letter-spacing: -8px;

        i {
            margin-right: -18px;
        }
    }
}

.friend {
    cursor: pointer; //Fix 'click' event bug on iPhone

    &.selected {
        background-color: lightblue;
        box-shadow: 2px 2px 8px #CCC;
    }

    .timeSince {
        color: @gray-light;
        font-weight: 100;
    }
}

.details,
.none,
.friend {
    padding: 8px;
    font-weight: 200;
    font-size: 1.75em;

}


.details {
    .name {
        font-size: 48pt;
        font-weight: 200;
        margin-left: -5px;
        line-height: 1em;
    }

    .lastmetmsg {
        color: @gray-light;
        font-weight: 100;
    }

    .remove {
        color: @gray;
        font-size: 0.7em;
        line-height: 4em;
    }

    .previousMeeting {
        padding-top: 4px;
        color: @gray;
        font-size: 0.8em;
        line-height: 1em;
        font-weight: 100;
        &:hover .removeDateMet{
            display : inline;
            color: lighten(@brandLink, 10%);

            &:hover {
                color: @brandLink;
            }
        }
    }

    .nav {
        font-size: @font-size-base;
    }

    .friendNote {
        padding: 5px;
        margin-top: 4px;

        small {
            font-size: 0.6em;
            line-height:0.8em;
        }
    }

    .friendNoteContent {
        font-size: 0.7em;
    }


    .removeDateMet {
        display: none;
        font-size: 0.7em;
        line-height: 0.9em;
        padding-left: 5px;
        &:hover {
            color: @brandLink;
        }
    }

}


footer {
    margin: 50px 0px 0px 0px;
    width: 100%;
    background-color: @brandTertiary;
    padding: 50px 0px 100px 0px;
    bottom: 0px;
    color: white;
    font-size: 1.5em;
    font-weight: 100;

    a {
        color: @brandSecondary;
    }
}
