/* CSS declarations go here */

@brandMain: #FF9646;
@brandSecondary: #38ACB5;
@brandLink: #FF3A6A;
@brandLinkVisited: #B8B9C4;
@brandTertiary: #B1C953;

.body {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;

}

.btn-primary {
    background-color: @brandLink;
}

.appTitle {
    font-size: 72pt;
    color: @brandMain;
    letter-spacing: -10px;

    .sec {
        color: @brandSecondary;
    }
}

.friend.selected {
    background-color: lightblue;
    box-shadow: 2px 2px 8px #CCC;
}

#addfriend {
    input {
        height: 30px;
        font-size: 1.75em;
        padding: 4px 12px;

        &.btn {
            height: 40px;
        }
    }

}

.details .name,
.none,
.friend {
    padding: 8px;
    font-weight: 200;
    font-size: 1.75em;

}


.details {

}

footer {
    margin: 50px 0px 0px 0px;
    width: 100%;
    background-color: @brandTertiary;
    padding: 50px 0px 100px 0px;
    bottom: 0px;
    color: white;

    a {
        color: @brandSecondary;
    }
}
