<template name="anonymousIntro">
    <div class="anonymousIntro">
        <div class="row">
            <div class="col-md-12">
                <h2>Grow Friendships that Matter</h2>
                <p class="lead">Get your daily recommended servings of friends :) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                {{loginButtons}}
            </div>
            <div class="col-md-6 visible-md visible-lg">
                <p class="logincta animated lightSpeedIn"><i class="fa fa-arrow-left"></i> What are you waiting for?</p>
            </div>
        </div>
    </div>
</template>
