<template name="header">
    <div class="row">
        <div class="col-md-12">
    <div class="pull-right">
        <a href="http://friendleeblog.tumblr.com" class="btn btn-link">Blog</a>
        <a href="http://friendleeblog.tumblr.com/post/71374846966/whats-friendlee" class="btn btn-link">About</a>
        <a href="mailto:slinlee+friendlee@gmail.com" class="btn btn-link">Help</a>
        {{#if currentUser}}
        {{loginButtons align="right"}}
        {{/if}}
    </div>
            <h1 class="appTitle animated fadeIn">
                <a href="{{pathFor 'friendlee'}}">
                    <i class="fa fa-coffee sec"></i>
                    <span class="title">Friend<span class="sec">Lee</span></span>
                </a>
            </h1>
        </div>
    </div>

</template>
